* {
	padding: 0px;
	margin: 0px;
	font-family: "Open Sans", sans-serif;
	box-sizing: border-box;
}

#nav-header {
	font-size: 105%;
	float: right;
	font-weight: bold;
	width: 66%;
}

#logo {
	width: 7%;
	border-radius: 5%;
}

#nav-menu {
	float: right;
	width: 25%;
	margin-top: 3%;
}

span {
	color: inherit;
	padding: 1%;
	font-weight: bold;
}

nav {
	background-color: darkred;
	color: white;
	padding: 1%;
	width: auto;
	height: 110px;
}

#img-row-1{
	width: 98%;
	padding: 2%;
}

.img-row-2 {
	width: 49%;
	padding: 2%;
}

#main-content {
	background-color: lightyellow;
	padding: 3%;
}

#welcome {
	font-size: 120%;
}

#nav-menu span:hover, #nav-menu span:active, .active-nav {
	text-decoration: underline;
	text-decoration-color: orangered;
	text-decoration-thickness: 22%;
	cursor: pointer;
}

h1 {
	font-weight: bold;
	text-align: center;
}

table {
	margin: auto;
	border-collapse: collapse;
	min-width: 50%;
	border-radius: 2%;
	overflow: hidden;
}

table th, table td {
	padding: 2%;
	border: 1.5px solid skyblue;
}

table th {
	background-color: lightseagreen;
	color: white;
	font-weight: bold;
}

p {
	padding: 2% 0 2% 1%;
}

table tbody tr:last-of-type {
	border-bottom: 3px solid skyblue;
}

table tbody tr:nth-of-type(3) {
	background-color: lightgreen;
}

#adm-form {
	width: 45%;
	margin: 3% auto 3% auto;
	background-color: lightgreen;
	padding: 3%;
	border-radius: 5%;
}

#adm-form h3 {
	margin-bottom: 5%;
	text-align: center;
}

#adm-form label {
	font-weight: bold;
}

#home-title {
	text-align: left;
}

footer {
	text-align: center;
	background-color: darkgray;
	height: 79px;
}
